{
  "version": 1.0,
  "project": "Bodgeit4",
  "team": "/CxServer/Bodgeit/Bodgeit4",
  "sast": {
    "preset": "High and Medium",
    "engineConfiguration": "",
    "incremental": "false",
    "forceScan" : "false",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties" : {
    "cxFlow": {
      "application": "",
      "branches": ["master"],
      "emails": ["robert.richards@checkmarx.com"],
      "bugTracker": "NONE",
      "jira": {
        "project": "Bodgeit-OOTB-JIRA",
        "issue_type": "Bug",
        "assignee": "",
        "opened_status": ["Open","Reopen"],
        "closed_status": ["Closed","Done"],
        "open_transition": "Reopen Issue",
        "close_transition": "Close Issue",
        "close_transition_field": "resolution",
        "close_transition_value": "Done",
        "priorities": {
          "High": "High",
          "Medium": "High",
          "Low": "High"
        }
      }
    }
  }
}
